# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
.turbo

# Environment
.env
.env.local
.env*.local
.env.uat
temp.env

# Database
*.db
packages/*/generated

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.swp
*.swo

# Misc
.vercel
*.tsbuildinfo
next-env.d.ts
*.pem
